body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

.wrapper {
  display: flex;
  max-width: 1000px;
  overflow: auto;
}

.columns {
  font-size: 14px;
  min-width: 204px;
  max-width: 230px;
  flex: 0 0 100%;
}

.columns li {
padding: 7px 12px;
font-weight: 400;
}

.columns li:first-of-type {
  display: flex;
  align-items: center;
  height: 240px;
  background-color: transparent !important
}
.columns li:nth-of-type(2n) {
  background: #c7cbcc;
}

.columns--first li{
  font-weight: 600;
}

.columns__preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columns__preview-image{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f2ee;
  mix-blend-mode: normal;
  border-radius: 10px;
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
}
.columns__preview-image img{
  mix-blend-mode: darken;
}

.columns--product: :last-of-type{
  background-color: transparent;
  padding: 12px;
}

.columns__rating{
  display: flex;
  align-items: center;
}

.columns__rating b{
  display: inline-block;
  margin-left: 8px;
}


.columns__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.columns__price--hot span{ 
  color: #cc0000;
}

a {
  color: #3f78d4;
}

a,
button,
span,
b,
s,
h5 {
  z-index: 1;
  position: relative;
}


.product {
  position: relative;
  min-width: 204px;
  max-width: 230px;
  flex: 0 0 100%;
}

.product__overlay {
  background-color: rgba(255, 188, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.product__overlay:hover {
opacity: 1;
}


.stars {
  display: flex;
}

.stars img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
}

.button img{
  width: 18px;
  height: 18px;
}

.button--like{
  width: 51px;
  border: 2px solid #ff9f9f;
  margin-right: 10px;
}

.button--cart{
  width: 117px;
  background-color: #009900;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}